#elementz {
    -fx-background-image: url("/img/background-image.jpg");
    -fx-background-color: grey;
}


#banner {
    -fx-background-image: url("/img/banner.png");
}
/*
.top {

    -fx-border-color: red;
    -fx-border-width: 1 1 0 1;
    -fx-border-style: dotted;
}

.bottom {

    -fx-border-color: red;
    -fx-border-width: 0 1 1 1;
    -fx-border-style: dotted;
}*/